<section>
    <!-- Navbar  -->
    <nav>
        <h3>{{ logo }}</h3>
        <ul>
            <li>Home</li>
            <li>Explore</li>
            <li>Blogs</li>
            <li>About</li>
            <li>Contacts</li>
        </ul>
        <div class="user">
            <div class="btn" (click)="onSubscribe()">Get Started</div>
            <div class="profile"><img src="assets\Profile.jpg" alt=""></div>
        </div>
    </nav>

    <!-- Home Section   -->
    <div class="home-containter">
        <h2>The Space & Beyond Blog</h2>
        <p>Learn about the universe from the experts at Astronomy!</p>
        <div class="subscribe-btn"><input type="email" placeholder="Enter Your email.."><button>Subscribe</button></div>
    </div>
</section>