<section>
    <!-- Pagination  -->
    <div class="pagination">
        <div class="btns"><i class="fa-solid fa-arrow-left"></i>Previous</div>
        <ul>
            <li>1</li>
            <li>2</li>
            <li>3</li>
            <li>...</li>
            <li>4</li>
            <li>5</li>
            <li>6</li>
        </ul>
        <div class="btns">Next <i class="fa-solid fa-arrow-right"></i></div>
    </div>

    <!-- footer  -->
    <nav>
        <h3>BlogSpace</h3>
        <div class="icons">
            <i class="fa-brands fa-facebook-f"></i>
            <i class="fa-brands fa-x-twitter"></i>
            <i class="fa-brands fa-linkedin-in"></i>
        </div>
    </nav>
</section>